body{
    background-image: url(web.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 3px 3px 3px blue;
    color: aquamarine;
}
ol {
    display: inline;
    text-decoration: none;
    text-align: right;
    word-spacing: 75px;
    margin-left: 500px;
    font-size: 20px;
    
}
li{
   display: inline; 
   
}
a{
    text-align: right;
    text-decoration: none;
    color: rgb(158, 182, 213);
    text-shadow: 2px 2px 2px rgb(136, 33, 33);
    font-size: 15px;
    text-transform: uppercase;
}

h2{
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgb(163, 27, 97);
    color: aqua;
}
img{
    width: 40%;
    height: 400px;
    /* border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 4px red; */
    margin-left: 200px;}

h3{
    text-align: center;
    font-size: 40px;
   color: darkcyan;
   text-shadow: 3px 3px 3px blue;
margin-left: 100px;
  
}
.web{display: flex;
    align-items: center;
   
    
}
.web p{
   margin-left: 50px;
    /* margin-right: 300px; */
    font-size: 30px;
    color: blueviolet;
    text-shadow: 4px -3px 7px rgb(29, 90, 120);
}
.card{
    text-align: left;
    border: 5px solid black;
    width: 30%;
    height: auto;
    box-shadow: 3px -7px 15px rgb(156, 14, 101);
    background-color: rgb(204, 235, 224);
}
.card p{
    font-size: 30px;
    color: teal;
    text-shadow: 3px 4px 6px blue;
}
.card h2{
    margin-bottom: 40px;
    color: royalblue;
}
#card{
    text-align: left;
    border: 5px solid black;
    width: 30%;
    height: auto;
    box-shadow: 3px -7px 10px rgb(255, 0, 247);
    background-color: rgb(204, 235, 224);
    margin-left: 30px;
}
#card p{
    font-size: 30px;
    color: rgb(17, 26, 26);
    text-shadow: 3px 4px 6px rgb(141, 27, 154);
}
#card h2{
    margin-bottom: 40px;
    color: rgb(70, 16, 179);
}
.container{
    display: flex;
}
#card1{
    text-align: left;
    border: 5px solid black;
    width: 30%;
    height: auto;
    box-shadow: 3px -7px 10px rgb(255, 0, 247);
    background-color: rgb(204, 235, 224);
    margin-left: 30px;
}
#card1 p{
    font-size: 30px;
    color: rgb(17, 26, 26);
    text-shadow: 3px 4px 6px rgb(7, 103, 124);
}
#card1 h2{
    margin-bottom: 40px;
    color: rgb(13, 2, 34);
}
.form{
    text-align: center;
    
    margin-left: 30%;
    margin-right: 30%;
}
label{
    color: aqua;
    text-shadow: 3px 4px 6px red;
}
.form input{
    border: none;
    width: 400px;
    height: 30px;
    box-shadow: 3px 5px 8px skyblue;
}
.form a{
    margin-left: 250px;
    color: red;
    font-size: 10px;
}
button{
    width: 100px;
    height: 30px;
    background-color: brown;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
box-shadow: -3px -5px 3px rgb(224, 86, 86);
border: none;
border-radius: 10px;
}
.form h4{
    color: rgb(174, 67, 159);
}
#contact{
    text-align: center;
    margin-top: 70px;
    text-decoration: none;
}